<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="title" value="Config Settings"/>
		<add key="Use_Flash" value="true"/>
		<add key="Flash_Margin" value="0.3"/>
		<add key="Flash_Type" value="Global"/>
		<add key="Test" value="false"/>
	</appSettings>
</configuration>